<section data-section-id="{{ section.id }}" data-section-type="product-promo-bar">
  <div class="product-promo-bar">
    <div class="container">
      <div class="product-promo-bar__inner">
        <!-- Slide 1 -->
        <a href="/collections/electronics" class="product-promo-bar__item">
          <span class="product-promo-bar__content">
            <span>Today's Deal: </span>
            <span>Extra 5% OFF Electronics</span>
          </span>
          <span class="product-promo-bar__timer">06h : 16m : 03s</span>
          <span class="product-promo-bar__shop-now-link">Shop now</span>
        </a>

        <!-- Slide 2 -->
        <a href="/collections/health-beauty" class="product-promo-bar__item">
          <span class="product-promo-bar__content">
            <span>Buy 1 Get 1 25% OFF</span>
            <span>Health & Beauty</span>
          </span>
          <span class="product-promo-bar__timer">06h : 16m : 03s</span>
          <span class="product-promo-bar__shop-now-link">Shop now</span>
        </a>

        <!-- Slide 3 -->
        <div class="product-promo-bar__item product-promo-bar__freeship">
          Free shipping over $49 ● Hassle-free returns
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Product Promo Bar",
    "settings": []
  }
{% endschema %}